build
bin
obj
*.depend
*.layout
*.o
melon_grc.c
melon_grc.h
/cmake-build
/cmake-build-debug
/cmake-build-debug-server
/.idea
/cmake-build-release
/cmake-build-release-server
/cmake-build-debug-server-mingw
/cmake-build-release-server-mingw